.container {
    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-card {
        display: flex;
        width: 600px;
        position: relative;
        padding: 36px;

        @media screen and (max-width: 700px) {
            flex-direction: column;
            align-items: center;
        }

        mat-progress-bar {
            position: absolute;
            left: 0px;
            top: 4px;
        }

        mat-card-content {
            display: flex;
            flex-direction: column;

            form {
                display: flex;
                flex-direction: column;
            }

            .button-container {
                display: flex;
                align-items: center;

                span {
                    margin-left: 16px;
                    margin-right: 16px;
                }
            }

            .alternate {
                font-style: italic;
                font-size: 12px;
                margin-top: 16px;

                span {
                    margin-right: 16px;
                    cursor: pointer;
                    color: blue;
                }
            }
        }
    }
}

mat-button-toggle-group {
    @media screen and (max-width: 490px) {

        flex-direction: column;
        width: 100%;
    }
}

.mat-card-content {
    width: 80%;
}


.logo-container {
    padding-right: 25px;
}

.navigation-container {
    padding-top: 20px;
}