.edit-note-container{
    display: flex;
    flex-direction: column;
}

.note-descritpion-edit-input{
    height: 100px;
}

.dialog-container{
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid lightgray;
}