.all-cards-container{
    width: 80%;
    margin-left: 120px;
}


.card {
    background: #3f51b5;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 10px;
    padding: 25px;

}

.firstCard{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 42px !important;
        font-weight: 700 !important;
        padding: 15px;
        letter-spacing: 3px;
    }
}

.card-container{
    display: flex;
}


.secondCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}





.thirdCard{
    display: flex;
    justify-content: center;
    width: 33%;
}


.fourthCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    .CustomerAmount{
        font-size: 22px !important;
        font-family: 700 !important;
        p{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    } 
}

.number{
    font-size: 55px;
}

.greeting-box{
    p{
        padding-top: 15px;
    }
}



mat-grid-tile-content{
    display: flex;
    flex-direction: column;   
}

.tile1 {
    font-size: 32px;
    font-family: 700;
}

.context {
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    gap: 160px;
    font-size: 32px !important;
    font-family: 700 !important;
   
}

.context p{
    font-size: 32px !important;
    display: flex;
    align-items: center;
}

.logo-container img{
    height: 110px;
}

@media (max-width: 1310px) {

    .context{
        padding: 0;
    }

    .context p{
    font-size:30px !important;
}

}