<div class="all-cards-container">
    <mat-card class="card firstCard">
        <mat-card-content>
            <p> Welcome to simple-CRM</p>
        </mat-card-content>
    </mat-card>

    <div class="card-container">

        <mat-card  class="card fourthCard">
            <mat-card-content>
                <div class="CustomerAmount">
                    <p>You have</p>
                    <p class="number"> {{ allNotes.length || '0' }}</p>
                    <p> notes! </p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card thirdCard">
            <mat-card-content>
                <div class="logo-container" style="margin-bottom: 16px;">
                    <img src="assets/img/logo.png" alt="">
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card fourthCard">
            <mat-card-content>
                <div class="CustomerAmount">
                    <p>You have</p>
                    <p class="number"> {{ allCustomers.length || '0' }}</p>
                    <p> customers! </p>
                </div>

            </mat-card-content>
        </mat-card>

    </div>
    <mat-card class="card firstCard">
        <mat-card-content>
            <div class="context" *ngIf="authService.userData as user">
                <p class="txt-time">{{time | date:'mediumTime'}}</p>
                <div class="greeting-box">
                    <p class="txt-greetings">{{msg}},
                        {{user.displayName}}! </p>
                </div>
                <!-- <p class="txt-suggestion">Open <span><a href="{{link}}" target="_blank">This</a></span> if you bored</p> -->
            </div>
        </mat-card-content>
    </mat-card>
</div>