.all-cards-container {
    margin: 100px;

    @media screen and (max-width: 1500px) {
        margin: 50px;
    }

    @media screen and (max-width: 1300px) {
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
    }

}


.card {
    background: #3f51b5;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 10px;
    padding: 25px;
}

.firstCard {
    display: flex;
    justify-content: center;
    align-items: center;

    

    p {
        font-size: 42px !important;
        font-weight: 700 !important;
        padding: 15px;
        letter-spacing: 3px;

        @media screen and (max-width: 1150px) {
            font-size: 35px !important;
        }

        @media screen and (max-width: 1000px) {
            font-size: 26px !important;
        }


    }
}

.mobile-card{

    @media screen and (max-width: 500px) {
       display: none;
    }

}

.card-container {
    display: flex;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}


.secondCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    @media screen and (max-width: 1000px) {
       width: 100%;
    }
}

.thirdCard {
    display: flex;
    justify-content: center;
    width: 33%;
    @media screen and (max-width: 1000px) {
        width: unset;
     }
}


.fourthCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    cursor: pointer;

    @media screen and (max-width: 1000px) {
        width: unset;
     }

    .CustomerAmount {
        font-size: 22px !important;
        font-family: 700 !important;

        p {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.number {
    font-size: 55px;

    &:hover {
        transform: scale(1.3);
    }
}

.greeting-box {
    p {
        padding-top: 15px;
    }
}

mat-grid-tile-content {
    display: flex;
    flex-direction: column;
}

.tile1 {
    font-size: 32px;
    font-family: 700;
}

.context {
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    gap: 160px;
    font-size: 32px !important;
    font-family: 700 !important;

    @media screen and (max-width: 1310px) {
        padding: 0;
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 0;
    }
}

.context p {
    font-size: 32px !important;
    display: flex;
    align-items: center;

    @media (max-width: 1450px) {
        font-size: 25px !important;
    }

    @media (max-width: 1310px) {
        font-size: 20px !important;
    }


}

.logo-container img {
    height: 110px;

    @media (max-width: 1310px) {
        height: 90px;
    }

}