.container {
    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-card {
        display: flex;
        width: 600px;
        position: relative;
        padding: 36px;


        mat-progress-bar {
            position: absolute;
            left: 0px;
            top: 4px;
        }

        mat-card-content {
            display: flex;
            flex-direction: column;
            width: 80%;

            form {
                display: flex;
                flex-direction: column;

                .button-container {
                    display: flex;
                    align-items: center;

                    span {
                        margin-left: 16px;
                        margin-right: 16px;
                    }
                }

            }
            .alternate {
                font-style: italic;
                margin-top: 16px;
                font-size: 12px;

                span {
                    margin-right: 16px;
                    cursor: pointer;
                    color: blue;
                }
            }
        }
    }
}

.logo-container{
    padding-right: 25px;

    img{
        cursor: pointer;

    }
}

.mat-button-wrapper{
    display: flex;
    align-items: center;
}

.google-icon{
    height: 20px;
    width: 20px;
    padding-left: 5px;
}