.user-detail-header {
    min-height: 120px;
    background-color: rgb(107, 107, 107);
    color: white;
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 350px) {
        flex-direction: column-reverse;
        align-items: baseline;
        justify-content: center;
    }

    img {
        height: 90px;
        width: 90px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.user-details {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 90px;

    @media screen and (max-width: 350px) {
        margin-left: 20px;
    }

    h2 {
        margin-bottom: -16px;
        font-size: 28px;
    }
}

.user-detail-adress {
    padding-left: 18px;

}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.name-container {
    display: flex;
    position: relative;
    // border-bottom: 1px solid lightgray;
    // padding-top: 5px;
}

.label {
    font-weight: 500;
}

.name {
    position: absolute;
    left: 100px;
}

.delete-icon {
    position: absolute;
    right: 10px;
    bottom: 15px;
    cursor: pointer;
}

mat-cards {
    @media (max-width: 500px) {
        margin: 10px;
    }
}